.Wrapper {
  
}

.MyMessageComp {
  margin-bottom: 8px;
}

.Message {
  background: #212121;
  border-radius: 20px 20px 0 20px;
  padding: 12px;
  box-sizing: border-box;
  margin-left: 10px;
  word-wrap: break-word;
  max-width: 224px;
}

.Date {
  color: rgba(255, 255, 255, 0.4)
}

.Message__Text {
  color: #FFF;
}
