@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik/Rubik-Regular.ttf") format('truetype');
}

body {
  font-family: "Rubik";
}

.Fonts_13_15 {
  font-size: 13px;
  line-height: 15px;
}

.Fonts_13_14 {
  font-size: 13px;
  line-height: 14px;
}

.Fonts_13_16 {
  font-size: 13px;
  line-height: 16px;
}

.Fonts_12_12 {
  font-size: 12px;
  line-height: 12px;
}