@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik/Rubik-Regular.ttf") format('truetype');
}

.FontsRubikRegular_13_15 {
  font-family: "Rubik";
  font-size: 13px;
  line-height: 15px;
}

.FontsRubikRegular_13_14 {
  font-family: "Rubik";
  font-size: 13px;
  line-height: 14px;
}

.FontsRubikRegular_13_16 {
  font-family: "Rubik";
  font-size: 13px;
  line-height: 16px;
}

.FontsRubikRegular_12_12 {
  font-family: "Rubik";
  font-size: 12px;
  line-height: 12px;
}