.Footer {
  height: 40px;
  background: rgba(0, 0, 0, 0.66);
  border-radius: 0 0 20px 20px;
  padding: 0 20px;
  box-sizing: border-box;
}

.Input {
  border: none;
  background: none;
  color: white;
}

.Input::placeholder {
  
}

.Emoji {
  cursor: pointer;
}